AWG_CONTROL_VERSION=v0.4.0
AWG_CONTROL_PUBLIC_ORIGIN=https://awg.play-and-say.ru
AWG_CONTROL_MASTER_KEY_PATH=./secrets/master-key
AWG_CONTROL_SESSION_TTL_SECONDS=43200
AWG_CONTROL_REMEMBERED_SESSION_TTL_SECONDS=2592000
AWG_CONTROL_REMEMBERED_SESSION_IDLE_TTL_SECONDS=604800
AWG_CONTROL_SESSION_ACTIVITY_WRITE_INTERVAL_SECONDS=300
